<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body>

<h1>You entered incorrect data! Please retry your action again.</h1>

<br><br><br>
<a href="http://localhost:63342/Health-Tracker/demo/templates/register_page.html?_ijt=h22ktmtjkv9bqv7c1ih97fsi74&_ij_reload=RELOAD_ON_SAVE">Navigate to registration</a>
<a href="http://localhost:63342/Health-Tracker/demo/templates/login_page.html?_ijt=h22ktmtjkv9bqv7c1ih97fsi74&_ij_reload=RELOAD_ON_SAVE">Nagivate to login</a>

</body>
</html>