<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="register-page">
    <h2>Register Page</h2>
    <div class="input-box">
        <form class="login-form">
            <input type="text" name="login" placeholder="ID"/>
        </form>
            </div>
    <div class="input-box">
        <form class="login-form">
            <input type="text" name="name" placeholder="Name"/>
        </form>
    </div>
    <div class="input-box">
        <form class="login-form">
            <input type="password" name="password" placeholder="Password"/>
        </form>
    </div>
            <button>create</button>
            <p class="message">Already registered? <a href="http://localhost:63342/Health-Tracker/demo/templates/login_page.html?_ijt=vfme1apmihj979lg32bsu8cq7c&_ij_reload=RELOAD_ON_SAVE">Sign In</a></p>
    </div>

</body>
</html>

<!--This might be replaced by JS>