<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link href="/templates/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="register-page">
    <form method="post" action="register_page.html" th:object="${registerRequest}">
    <h2>Register Page</h2>
    <div class="input-box">
            <input type="text" name="login" placeholder="ID"/>
            </div>
    <div class="input-box">
            <input type="text" name="name" placeholder="Name"/>
    </div>
    <div class="input-box">
            <input type="password" name="password" placeholder="Password"/>
    </div>
            <button>create</button>
            <p class="message">Already registered? <a href="http://localhost:63342/Health-Tracker/demo/templates/login_page.html?_ijt=vfme1apmihj979lg32bsu8cq7c&_ij_reload=RELOAD_ON_SAVE">Sign In</a></p>
    </form>
</div>

</body>
</html>

<!--This might be replaced by JS>